*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    background-color: black; 
}

#app{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}


.tot-container{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100%;
    /*background-image: url('https://static.dezeen.com/uploads/2020/06/architects-designers-racial-justice-george-floyd-protests-dezeen-hero-a-852x479.jpg'); */
    /* background-image: url('https://www.lasalettadellarte.it/wp-content/uploads/2020/09/ALEANDRO-RONCARA-Il-Principe-delle-maree-serigrafia-materica-su-supporto-rigido-40x40-1-scaled.jpg');  */
    background-size: cover;
    background-repeat: no-repeat;
    animation: run 10s normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 

@keyframes run{
    0%{background-position: 0 0}
    100%{background-position: 0 100vh}
}

@keyframes run{
    0%{top: 0}
    100%{top: 100vh}
}


.container{
    max-width: 90%;
    margin: auto;
}
/* ------------------- */
/* HEADER */
/* ---------------------- */
header{
    width: 100%;
    position: relative;
}

ul.head-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 200px;
    background-color: white;
}
.grades-complete{
    transform: rotateX(360deg);
}

.red{
    color: white;
}

.active{
    color: blue
}

.grades{
    transform: rotateX(180deg);
}

#open{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px 5px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.rotation{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px 5px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

ul.head-menu li{
    font-size: 1.8rem
}

.mini-menu{
    display: flex;
}

.world{
    padding: 0px 20px;
}
/* ------------------- */
/* HEADER */
/* ---------------------- */


/* SECTION COMPARSA */
h1{
    text-align: center;
    padding: 5%;
    font-size: 20px;
}

h1:hover{
    color: white;
}

/* /////SECTION COMPARSA */


/* START MAIN CSS */

.template-img{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}
.container-img{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 3px 4px rgba(15, 15, 15, 0.212);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    transform: translate3d(0px 10px 20px);
    transition: 400ms ease all;

}


.big{
    width: 350px;
    height: 350px;
}

.prev,
.next{

    display: flex;
    align-items: center;
}

.prev i,
.next i{
    color: white;
    font-size: 80px;
    cursor: pointer;
}

.circles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 150px;
    border: 1px solid white;
    margin-bottom: 200px;
}

.circles i{
    font-size: 30px;
}
.circles p{
    align-self: flex-end;
    color: white;
}




/* END MAIN CSS */