*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
}
.tot-container{
    width: 100vw;
    height: 100vh;
    background-image: url('https://www.lasalettadellarte.it/wp-content/uploads/2020/09/ALEANDRO-RONCARA-Il-Principe-delle-maree-serigrafia-materica-su-supporto-rigido-40x40-1-scaled.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: run 10s ;
}

@keyframes run{
    0%{background-position: 0 0}
    100%{background-position: 0 100vh;}
}


.container{
    max-width: 90%;
    margin: auto;
}
/* ------------------- */
/* HEADER */
/* ---------------------- */
header{
    width: 100%;
    background-color: brown;
}

ul.head-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 200px;
    background-color: pink;
}

.mini-menu{
    display: flex;
}

.world{
    padding: 0px 20px;
}
/* ------------------- */
/* HEADER */
/* ---------------------- */


/* SECTION COMPARSA */
h1{
    text-align: center;
    padding: 5%;
    font-size: 20px;
}

/* /////SECTION COMPARSA */


/* START MAIN CSS */

.template-img{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: green;
    border: 1px solid black;
}
.container-img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 4px solid red;
}

.prev,
.next{

    display: flex;
    align-items: center;
}

.prev i,
.next i{
    font-size: 80px;
    border: 1px solid white;
    cursor: pointer;
}

.circles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 150px;
    border: 2px solid black;
}

.circles i{
    font-size: 50px;
}




/* END MAIN CSS */